#mobile-header, #mobile-menu, #index-logo-wrapper-mobile {
	display: none;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%
}

body {
	overflow-x: hidden;
	display: block;
	height: 100%;
	/*background: linear-gradient(123.2deg, #29006C 2.65%, #EF008F 88.92%);*/
	background: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	letter-spacing: .5rem;
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a {
	color: #13216a;
	text-decoration: none;
}

#wrapper {
	position: relative;
	min-height: 99vh;
}

.header {
	padding: 0 5rem;
	height: 6rem;
}

#index-header #nav-links a {
	color: #13216a;
	font-weight: bolder;
}

.header * {
	display: inline-block;
}

#icon {
	height: 6rem;
	width: auto;
	transition: all .5s ease-in-out 0s;
}

#icon img {
	height: 100%;
}

#icon:hover {
	cursor: pointer;
	transform: rotate(360deg);
	transition: all 0.3s ease-in-out 0s;
}

#nav-links {
	position: relative;
	font-size: 1rem;
	font-weight: bolder;
	float: right;
	line-height: 6rem;
}

#nav-links a {
	position: relative;
}

#nav-links li {
	padding-left: 3rem;
}

#index-logo-wrapper {
	position: relative;
	height: 60vh;
	padding-top: 4rem;
	padding-bottom: 3.5rem;
}

#index-logo {
	height: 80%;
	width: auto;
	display: block;
	margin: 0 auto;
}


#scrolling-wrapper {
	position: relative;
	height: 60vh;
	overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 3.5rem;
  padding-top: 4rem;
}

.arrows {
	position: sticky;
	opacity: .5;
	bottom: 40%;
	z-index: 1;
	left: 0;
	border-radius: 50%;
}

.arrows:hover {
	cursor: pointer;
	opacity: 1;
	transition: .7s;
}

#left-arrow, #right-arrow {
	line-height: 4rem;
	height: 4rem;
	width: 4rem;
	font-size: 2.5rem;
	color: #FFFFFF;
	text-align: center;
	background-color: #DF1995;
	transition: .7s;
}

#left-arrow {
	float: left;
	left: .5rem;
}

#right-arrow {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	right: .5rem;
}

.image {
	margin: 1rem -1rem;
	border-left: 1rem solid #000000;
	height: 100%;
	display: inline-block;
	overflow: hidden;
}

.image img {
	top: -30rem;
	height: 100%;
}

.image:hover {
	cursor: pointer;
}

#last-img {
	margin-right: -5rem;
	border-right: 1rem solid #000000;
}

#footer {
	position: absolute;
	color: #FFFFFF;
	bottom: 0;
	width: 100%;
	height: 3.5rem;
	line-height: 3.5rem;
}

#footer * {
	display: inline-block;
}

#social-links {
	float: right;
	line-height: 3.5rem;
	font-size: 1.75rem;
}

#social-links li {
	padding-right: 5rem;
}

#copyright {
  color: #13216a;
	font-size: .6rem;
	padding-left: 5rem;
	line-height: 3.5rem;
	letter-spacing: .2rem;
}

#nav-links li a:hover {
	text-decoration: underline;
}

/* MODAL BACKGROUND */
#modal {
	display: none; /* HIDDEN BY DEFAULT */
	position: fixed; /* STAY IN PLACE */
	z-index: 1; /* ON TOP */
	left: 0;
	top: 0;
	width: 100%; /* FULL WIDTH */
	height: 100%; /* FULL HEIGHT */
	overflow: hidden; /* NO SCROLL */
	background-color: rgb(0,0,0); /* FALLBACK COLOR */
	background-color: rgba(0,0,0,0.9); /* BLACK WITH OPACITY */
}

/* MODAL CONTENT (IMG) */
#modal img {
	margin: auto;
	display: block;
	height: : 100%;
	max-height: 100%;
	min-height: 100%;
}

/* MODAL ANIMATION */
#modal img {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* MODAL CLOSE BUTTON */
#close {
	position: absolute;
	top: 0;
	right: 5%;
	color: #FFFFFF;
	font-size: 4rem;
	transition: 0.2s;
}

#close:hover, #close:focus {
	color: #BBBBBB;
	cursor: pointer;
}

/*----------------------------------------------------------*/
/*----------------MOBILE & TABLET VIEW----------------------*/
/*----------------------------------------------------------*/


/*@media screen and (max-width: 875px) {*/
@media screen and (max-width: 1366px) {

	.header, #footer, #index-logo-wrapper {
		display: none;
	}

	.arrows {
		visibility: hidden;
	}
	
	#index-logo-wrapper-mobile {
	  padding-top: 2rem;
	  height: 80vh;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
  }


	#index-logo {
		width: 80%;
		height: auto;
	}

	.index-links {
		display: block;
		text-align: center;
		/*margin: 3.5rem 0;*/
	  font-size: 1.5rem;
	  color: #13216a;
	}

	#mobile-header {
	  display: flex;
	  align-items: center;
		height: 10vh;
		position: relative;
	}
	
	#dummy-center {
	  visibility: hidden;
	  width: 50px;
	}

	#mobile-logo {
		height: 70%;
		width: auto;
		cursor: pointer;
	}

	#hamburger, #exit-menu {
	  position: relative;
	  z-index: 10;
	  width: 50px;
		cursor: pointer;
		color: #13216a;
		font-size: 2.5rem;
	}
	
	#hamburger, #exit-menu, #mobile-logo {
	  margin-left: auto;
	}
	
	#exit-menu {
	  color: #ffffff;
	}

	#exit-menu {
		display: none;
	}

	#mobile-menu {
		display: none;
		position: absolute;
		z-index: 2;
		height: 100vh;
		width: 100vw;
		background: linear-gradient(123.2deg, #EF008F 2.65%, #29006C 88.92%);
	}

	#mobile-links {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  height: 70vh;
		text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
	    
	}

	#mobile-links li {
		transition: .6s;
		margin: 2rem 0;
	}
	
	#mobile-links a {
	  color: #ffffff;
	}

	#scrolling-wrapper {
	  /*z-index: -1;*/
		height: 90vh;
		padding: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		background-color: #000000;
	}

	#first-image {
		margin-top: 0;
	}

	.image {
		display: block;
		margin: 0;
		height: auto;
		width: 100%;
		border: 0;
		margin: .5rem 0;
	}

	.image img {
		width: 100vw;
	}

	.image:hover {
		cursor: default;
	}

	#copyright {
		color: #ffffff;
		text-align: center;
		padding: 0;
	}
	
}



